/* 01. header css here */
.body_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  cursor: progress;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  &.active {
    opacity: 0.3;
    visibility: visible;
  }
}

.off_canvars_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  cursor: crosshair;
  background: $fonts_color;
  top: 0;
  &.active {
    opacity: 0.5;
    visibility: visible;
  }
}
.offcanvas_menu {
  display: none;
  @media #{$tablet-device} {
    display: block;
  }
  @media #{$large-mobile} {
    display: block;
  }
}
.offcanvas_menu_wrapper {
  width: 290px;
  position: fixed;
  background: #fff;
  z-index: 999;
  top: 0;
  height: 100vh;
  transition: 0.5s;
  left: 0;
  margin-left: -300px;
  padding: 55px 15px 30px;
  overflow-y: auto;
  &.active {
    margin-left: 0;
  }
  & .slinky-theme-default {
    background: inherit;
    min-height: 300px;
    overflow-y: auto;
  }
  & .header_contact_info {
    display: block;
  }
  & .header_social {
    display: flex !important;
  }
  & .language_currency {
    display: block;
  }
}
.offcanvas_main_menu {
  & > li {
    &.menu-item-has-children {
      &.menu-open {
        & > span.menu-expand {
          transform: rotate(180deg);
        }
      }
    }
    & ul {
      & li {
        &.menu-item-has-children {
          &.menu-open {
            & span.menu-expand {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}
.offcanvas_main_menu {
  & li {
    position: relative;

    &:last-child {
      margin: 0;
    }
    & span {
      &.menu-expand {
        position: absolute;
        right: 0;
        cursor: pointer;
        &:hover {
          color: $secondary_color;
        }
      }
    }
    & a {
      font-size: 14px;
      font-weight: 400;
      text-transform: capitalize;
      display: block;
      padding-bottom: 12px;
      margin-bottom: 12px;
      border-bottom: 1px solid $grey_color;
      &:hover {
        color: $secondary_color;
      }
    }
    & ul.sub-menu {
      padding-left: 20px;
      & li {
        & a {
        }
      }
    }
  }
}

.canvas_close {
  position: absolute;
  top: 15px;
  right: 25px;
  & a {
    font-size: 30px;
    transition: 0.7s;
    display: inline-block;
    transform: scale(1) rotate(0deg);
    &:hover {
      color: #ffb83c;
      transform: scale(1.3) rotate(180deg);
    }
    &:hover {
      color: $secondary_color;
    }
  }
}
.canvas_open {
  display: none;
  margin-left: 28px;
  @media #{$tablet-device} {
    display: block;
  }
  @media #{$large-mobile} {
    display: block;
  }
  & a {
    font-size: 38px;
    display: block;
    line-height: 16px;
    color: $white;
    &:hover {
      color: $secondary_color;
    }
  }
}

.sticky-header.sticky {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  border-bottom: 0;
  display: block;
  @media #{$tablet-device} {
    padding: 15px 0;
  }
  @media #{$large-mobile} {
    padding: 15px 0;
  }
}

/*header css heer*/
.header_transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.header_logo {
  & img {
    @media #{$small-mobile2} {
      max-width: 100px;
    }
  }
}

.main_header {
  padding: 36px 46px;
  @media #{$laptop-device } {
    padding: 38px 0;
  }
  @media #{$desktop-device} {
    padding: 30px 0;
  }
  @media #{$tablet-device} {
    padding: 30px 0;
  }
  @media #{$large-mobile} {
    padding: 20px 0;
  }
}

.main_menu {
  & nav {
    & > ul {
      & > li {
        margin-right: 48px;
        position: relative;
        line-height: 50px;
        &:last-child {
          margin-right: 0;
        }
        @media #{$desktop-device} {
          margin-right: 33px;
        }
        &:hover {
          & ul.sub_menu {
            visibility: visible;
            opacity: 1;
            top: 100%;
          }
          & > a {
            &::before {
              width: 100%;
            }
          }
        }
        & > a {
          font-size: 16px;
          line-height: 20px;
          display: inline-block;
          text-transform: capitalize;
          color: $white;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            width: 0;
            height: 1px;
            background: #fff;
            left: 0;
            bottom: 0;
            transition: 0.3s;
          }
          &.active {
            &::before {
              width: 100%;
            }
          }
        }
        & ul.sub_menu {
          position: absolute;
          min-width: 190px;
          padding: 18px 20px;
          background: $white;
          box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
          left: 0;
          right: auto;
          visibility: hidden;
          opacity: 0;
          overflow: hidden;
          transition: 0.3s;
          z-index: 99;
          top: 120%;
          text-align: left;
          & li {
            & a {
              font-size: 13px;
              font-weight: 400;
              display: block;
              line-height: 32px;
              text-transform: capitalize;
              &:hover {
                color: $secondary_color;
              }
            }
          }
        }
      }
    }
  }
}

.cart_remove {
  & a {
    font-size: 15px;
    display: block;
    line-height: 20px;
    text-align: center;
    &:hover {
      color: $secondary_color;
    }
  }
}

.cart_item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid $grey_color;
  display: flex;
  justify-content: space-between;
}

.mini_cart_table {
  padding: 23px 0;
}

.cart_total {
  display: flex;
  justify-content: space-between;
  & span {
    font-size: 14px;
    font-weight: 400;
    &.price {
      font-weight: 700;
    }
    @media #{$tablet-device} {
      font-size: 13px;
    }
    @media #{$large-mobile} {
      font-size: 13px;
    }
  }
}

.cart_button {
  &:first-child {
    margin-bottom: 15px;
  }
  & a {
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    background: #eef0f1;
    display: block;
    text-align: center;
    line-height: 20px;
    margin-bottom: 0;
    padding: 13px 0px 11px;
    border: 1px solid $grey_color;
    &:hover {
      background: $secondary_color;
      border-color: $secondary_color;
      color: $body-color;
    }
  }
}

/*mini cart css end*/

//Page Search Box css
.page_search_box {
  position: fixed;
  width: 100%;
  height: 0;
  background: $white;
  z-index: 999;
  left: 0;
  top: 0;
  transition: 0.3s;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  &.active {
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
  & form {
    width: 70%;
    margin: 0 auto;
    position: relative;
    @media #{$large-mobile} {
      width: 90%;
    }
    & input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $fonts_color;
    }
    & input::-moz-placeholder {
      /* Firefox 19+ */
      color: $fonts_color;
    }
    & input:-ms-input-placeholder {
      /* IE 10+ */
      color: $fonts_color;
    }
    & input:-moz-placeholder {
      /* Firefox 18- */
      color: $fonts_color;
    }
    & input {
      width: 100%;
      background: none;
      height: 50px;
      font-size: 24px;
      color: $fonts_color;
      font-weight: 400;
      @media #{$large-mobile} {
        width: 90%;
        font-size: 16px;
      }
    }
    & button {
      position: absolute;
      bottom: 11px;
      right: 0;
      border: 0;
      padding: 0;
      background: none;
      font-size: 20px;
      &:hover {
        color: $secondary_color;
      }
      @media #{$large-mobile} {
        font-size: 18px;
      }
    }
    & p {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }
}

.search_close {
  position: absolute;
  top: 50px;
  right: 100px;
  @media #{$large-mobile} {
    top: 22px;
    right: 30px;
  }
  & i {
    font-size: 20px;
    cursor: pointer;
    transform: scale(1) rotate(0deg);
    display: inline-block;
    transition: 0.5s;
    &:hover {
      color: $secondary_color;
      transform: scale(1.3) rotate(180deg);
    }
  }
}

.menu_stye2 {
  & nav {
    & > ul {
      & > li {
        & > a {
          color: $fonts_color;
          &::before {
            background: $fonts_color;
          }
        }
      }
    }
  }
}

.header_account2 {
  & > ul {
    & > li {
      & > a {
        color: $fonts_color;
        &:hover {
          color: $secondary_color;
        }
      }
    }
  }
}
.canvas_style2 {
  & a {
    color: $fonts_color;
  }
}
